.title-h4 h4{
	text-align:center;
}

.syntaxeGobelets em{
	color:blue;
}


table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ececec;
  padding: 8px;
}

table tr:nth-child(even){background-color: lightGray;}

table tr:hover {background-color: #3085F0; color:white;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #545654;
  color: white;
}

a.active, a:active, a:focus, a:hover {
    text-decoration: underline;
    color: #F70000;
}

.dropmenu ul li ul li{
	min-width:100%;
}

.dropmenu ul li a.active, .dropmenu ul li a:focus, .dropmenu ul li a:hover{
	color:#F70000 !important;
}

.dropmenu ul li ul li a:hover{
	background-color: #F70000;
	color: white !important;
}

.dropmenu ul li a.active, .dropmenu ul li a:focus{
	color:#F70000;
	/*background-color:white;*/
}

video{
  width:600px;
}